body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
      linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
      linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
      radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
      radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%) ;
      background-blend-mode: screen, color-dodge, overlay, difference, normal;
      height: 100vh;
      overflow: hidden;
      background-repeat: no-repeat; 
  }
  
  h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    top: 50px;
    position: fixed;
  }
  
  .stopwatch {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    top: 150px;
    position: fixed;
    max-height: 250px;
    overflow-y: hidden;
  }
  
  .display {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  button:active {
    transform: translateY(1px);
  }
  
  .start {
    background-color: #4caf50;
    color: #fff;
  }
  
  .pause {
    background-color: #ff9800;
    color: #fff;
  }
  
  .reset {
    background-color: #f44336;
    color: #fff;
  }
  
  .lap {
    background-color: #2196f3;
    color: #fff;
  }
  
  .laps {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    max-height: 200px;
    overflow-y: scroll;
  }
  
  .laps li {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }